.form {
  display: flex;
  border-top: 2px solid #323232;
}

.input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2d2e2f;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
